.vagrant
__pychache__/*
__pycache__

# Config files
/social_networks/twitter_controller/twitter_access.json
/social_networks/database_controller/mongo_connect

# Images
/social_networks/analysis/graphs/*

# alex graphing
/social_networks/analysis/alex_graphing.py

.idea/
scripts/

*/.DS_Store
.DS_Store
